// Colors
$darkRed:#6b0909;
$LimeGreen:#8ee4af;
$Darkgray:#1b1b1b;
$black:#111111;
$GrayishBlue:hsl(233,8%,62%);
$LightGrayishBlue:hsl(220,16%,96%);
$VeryLightGray:hsl(0,0%,98%);
$White:hsl(0,0%,100%);

//Fonts

$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 3.25rem;